#!/bin/bash

timeslot=`date +%Y-%m-%d-%H%M`

DEST="/home/{{ admin_user }}/postgres_backups"
LOG_FILE="${DEST}/logs/logfile-${timeslot}.log"

touch ${LOG_FILE}

echo "Starting database backup for time slot ${timeslot} " >> $LOG_FILE

cd "$DEST" || exit 1

backup_dir=$( date +%Y-%m-%d )
mkdir -p "$backup_dir" || exit 1
cd "$backup_dir"

# Make actual backup files
pg_dumpall -r > roles.dump
psql -qAtX template1 -c "select datname from pg_database where datallowconn order by pg_database_size(oid) desc" | \
    xargs -d'\n' -I{} -P2 pg_dump -Fc -N audit -f pg-{}.dump {} >> $LOG_FILE

# Retention policy
cd "$DEST" || exit 1

find . -mindepth 2 -maxdepth 2 -type f -regex '\./[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]/.*dump' -mtime +5 -delete
find . -mindepth 1 -maxdepth 1 -type d -regex '\./[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]' -empty -delete

timeinfo=`date '+%T %x'`
echo "${timeinfo} - Backup completed successfully" >> $LOG_FILE
