<p>Seuraavat luokat ovat kirjoittaneet lokiin normaalia enemmän viimeisen tunnin aikana: </p>
<p>
  <ul>
  {{#each list}}
    <li>{{this}}</li>
  {{/each}}
  </ul>
</p>
<p>Ympäristön tunnus on {{environmentIdentifier}}.</p>