<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Vincit Oy"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div id="app-container"></div>
</body>
</html>
